<!-- Genres view -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title: "Genres"}) %> 
  <body>
    <%- include("../partials/header") %>
    <main>
    <div class="main-container">
      <section class="view-header">
          <h2>Genres</h2>
          <a href="/genres/add">Add Genre</a>
        </section>
      <section class="card-container">
        <% genres.forEach(genre => { %>
          <div class="genre-card">
            <h3><%= genre.genre %></h3>
            <div class="edit-and-delete-container">
            <a href="/genres/edit/<%=genre.id %>">Edit</a>
              <form action="/genres/delete/<%=genre.id %>" method="POST">
              <button>Delete</button>
             </form>
            </div>
          </div>
        <% }) %>
    </div>
  </main>
  <%- include("../partials/footer") %>
  </body>
</html>
