<!-- Developers - Index -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title: "Developers"}) %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="main-container">
        <section class="view-header">
          <h2>Developers</h2>
           <div class="mock-button-container">
            <a href="/developers/add">Add Developer</a>
           </div>
        </section>
        <section class="card-container">
          <% developers.forEach(developer => { %> 
            <div class="card">
              <h3>
                <a href="/developers/filter-games/<%= developer.id %>" class="card-header-container"><%= developer.developer%></a>
              </h3>
              <div class="image-container">
                <a href="/developers/filter-games/<%= developer.id %>" >
                  <img src="<%= developer.img_url %>" alt="<%= developer.developer %> image">
                </a>
              </div>
              <div class="edit-and-delete-container">
                <a href="/developers/edit/<%= developer.id %>">Edit</a>
                <form action="/developers/delete/<%= developer.id %>" method="POST">
                  <button>Delete</button>
                </form>
              </div>
          </div>
         <% })%> 
        </section>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
