<!-- Developers - Index -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title: "Developers"}) %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="main-container">
        <section class="view-header">
          <h2>Developers</h2>
          <a href="/developers/add">Add Developer</a>
        </section>
        <section class="category-container">
          <% developers.forEach(developer => { %> 
            <div class="category">
              <h3><%= developer.developer%></h3>
              <img src="<%= developer.img_url %>" alt="<%= developer.developer %> image">
              <a href="/developers/edit/<%= developer.id %>">Edit</a>
              <form action="/developers/delete/<%= developer.id %>" method="POST">
              <button>Delete</button>
            </form>
          </div>
         <% })%> 
        </section>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
