<!-- Edit Game View -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <form action="/games/edit/<%= gameData.gameTitle[0].id %>" method="POST">
        <div class="game-title-container">          
          <input type="hidden" name="gameId" value="<%= gameData.gameTitle[0].id%>">
          <label for="<%= gameData.gameTitle[0].id %>">Game Title</label>
          <input
            type="text"
            name="game"
            id="<%= gameData.gameTitle[0].id %>"
            value="<%= gameData.gameTitle[0].game %>"
            required
          />
        <div class="game-image-container">
          <label for="game-image">Game Image Link</label>
          <input type="url" name="gameImgUrl" id="game-image" value="<%= gameData.gameTitle[0].img_url %>">
        </div>
        </div>
        <h3>Developer (select as many as needed)</h3>
        <div class="selection-container">
          <% gameData.allDevelopers.forEach(developer => { %>
            <div>
              <input type="checkbox" id="<%= developer.id %>" value="<%= developer.id %>" name="developers[]" 
                <% gameData.gameDevelopers.forEach(gameDev => { %>
                  <% if (gameDev.id === developer.id) { %>
                      checked
                <% } %>
              <% }) %> />
              <label for="<%= developer.id %>"><%= developer.developer %></label>
            </div>
          <% }) %>
        </div>
        <h3>Genre (select as many as needed)</h3>
        <div class="selection-container">
         <% gameData.allGenres.forEach(genre => { %>
            <div>
              <input type="checkbox" id="<%=genre.id %>" value="<%= genre.id %>" name="genres[]" 
                <% gameData.gameGenres.forEach(gameGenre => { %>
                  <% if (gameGenre.id === genre.id) { %>
                      checked
                  <% } %>
                <% }) %> />
              <label for="<%=genre.id %>"><%= genre.genre %></label>
            </div>
          <% }) %>
        </div>
        <div class="view-button-container">
          <a href="/games/">Go Back</a>
          <button type="submit">Save Edits</button>
        </div>
      </form>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
