<!-- Game Index -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="main-container">
        <section class="view-header">
          <h2>All Games</h2>
          <a href="/games/add">Add Game</a>
        </section>
        <section class="card-container">
          <% rows.forEach(row => { %>
            <div class="card">
            <h3><%= row.game %></h3>
            <a href="/games/edit/<%= row.id %>">Edit</a>
            <form action="/games/delete/<%= row.id %>" method="POST">
              <button>Delete</button>
            </form>
          </div>
          <% })%>
        </section>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
