<!-- Game Index -->
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="main-container">
        <section class="view-header">
          <h2>All Games</h2>
          <a href="/games/add">Add Game</a>
        </section>
        <section class="card-container">
          <% rows.forEach(row => { %>
          <div class="game-card">
              <div class="card-header-and-image">
                <h3><%= row.game %></h3>
                <img src="<%= row.img_url %>" alt="<%= row.game %> image">
              </div>
              <div class="details-container">
                <div class="developers-container">
                  <% for (let i = 0; i < row.developers.length; i++) { %>
                    <% if (i !== row.developers.length - 1) { %>
                        <p><%= row.developers[i] %>, </p>
                    <% } else { %>
                        <p><%= row.developers[i] %></p>
                    <% } %>
                  <% } %>
              </div>
              <div class="genres-container">
            <% row.genres.forEach(genre => { %>
              <p><%= genre %> </p>
            <% }) %>
          </div>
          <div class="edit-and-delete-container">
            <a href="/games/edit/<%= row.id %>">Edit</a>
            <form action="/games/delete/<%= row.id %>" method="POST">
              <button>Delete</button>
            </form>
          </div>
          </div>
          </div>
          <% })%>
        </section>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
